---
layout: default
---

{{ content }}

<h2 id="discussion">Join the Discussion</h2>
<p>
Before commenting, you will need to authorize
<b>giscus</b>. Alternatively, you can add a comment directly on the
<a
href="https://github.com/CaptainCoderOrg/CraftingSystem/discussions/categories/general"
target="_blank">GitHub Discussion Board</a>.
</p>

<script src="https://giscus.app/client.js"
        data-repo="CaptainCoderOrg/CraftingSystem"
        data-repo-id="R_kgDOJCzeiQ"
        data-category="General"
        data-category-id="DIC_kwDOJCzeic4CUjlb"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>